<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Hello Penn</h1>
    <img src="../static/images/test.png"/>
    <p>
        test test test<a href="http://www.w3schools.com">lINKS TO THE COURSE</a>
    </p>
    <ul>
        <li>Option 1</li>
        <li>Option 2</li>
        <li>Option 3</li>
        <li>Option 4</li>
    </ul>
    <ol>
        <li>Option 1</li>
        <li>Option 2</li>
        <li>Option 3</li>
        <li>Option 4</li>
    </ol>
    <form action="/login" method="post">
        Email: <input type="email" name="username"/>
        Password: <input type="password" name="password"/>
        <input type="submit" value="Login"/>
    </form>
</body>
</html>